<section id="filter">
  <div class="filter">
    <div class="filter-title symbol">
      <span class="material-symbols-outlined">filter_list</span>
      <h3>Фільтр</h3>
    </div>
    <div class="filter-option">
      <div class="expander">
        <p>Ціна</p>
        <span class="material-symbols-outlined">expand_less</span>
      </div>
      <div class="collapsable">
        <div class="price-range">
          <input type="text" class="min-value" />
          <span class="material-symbols-outlined">horizontal_rule</span>
          <input type="text" class="max-value" />
          <button class="apply symbol">
            <span class="material-symbols-outlined">search</span>
          </button>
        </div>
      </div>
    </div>
    <div class="filter-option">
      <div class="expander">
        <p>Бренд</p>
        <span class="material-symbols-outlined">expand_less</span>
      </div>
      <div class="collapsable">
        <ul>
          <li>
            <input type="checkbox" />
            <p class="group-item">Apple</p>
            <p class="item-count">(0)</p>
          </li>
          <li>
            <input type="checkbox" />
            <p class="group-item">Apple</p>
            <p class="item-count">(0)</p>
          </li>
          <li>
            <input type="checkbox" />
            <p class="group-item">Apple</p>
            <p class="item-count">(0)</p>
          </li>
          <li>
            <input type="checkbox" />
            <p class="group-item">Apple</p>
            <p class="item-count">(0)</p>
          </li>
          <li>
            <input type="checkbox" />
            <p class="group-item">Apple</p>
            <p class="item-count">(0)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
