<footer>
  <a href="#" class="footer-title"> Наверх </a>
  <div class="footer-items">
    <ul>
      <h3>Дізнайтесь Більше</h3>
      <li><a href="https://youtu.be/dQw4w9WgXcQ?si=beqOBkj6S-yd69MC">Про нас</a></li>
    </ul>
    <ul>
      <h3>Зв'язок З Нами</h3>
      <li><a href="https://youtu.be/dQw4w9WgXcQ?si=beqOBkj6S-yd69MC">Facebook</a></li>
      <li><a href="https://youtu.be/dQw4w9WgXcQ?si=beqOBkj6S-yd69MC">Twitter</a></li>
      <li><a href="https://youtu.be/dQw4w9WgXcQ?si=beqOBkj6S-yd69MC">Instagram</a></li>
    </ul>
    <ul>
      <h3>Дозвольте Допомогти</h3>
      <li><a href="https://youtu.be/dQw4w9WgXcQ?si=beqOBkj6S-yd69MC">Чат-бот</a></li>
      <li><a href="https://youtu.be/dQw4w9WgXcQ?si=beqOBkj6S-yd69MC">Ваш аккаунт</a></li>
      <li><a href="https://youtu.be/dQw4w9WgXcQ?si=beqOBkj6S-yd69MC">Допомога</a></li>
    </ul>
  </div>
</footer>
