{% load static %}
<section id="items">
  <div class="items">
    {% for item in info %}
    <div class="item">
      <a href="{{item.fields.link_to_good}}">
        <div class="img-container">
          <img src="{{item.fields.image}}" />
        </div>
        <span>{{ item.fields.good_name }}</span>
      </a>
      <div class="info">
        <div class="pricing">
          {% if item.fields.price != 'Тільки по попередньому замовленню'%}
          <div class="price-box">
            <span class="price">{{ item.fields.info_about_good.new_price }} {{ item.fields.currency }}</span>
          </div>
          <div class="old-price-box">
            <span class="price">{{ item.fields.info_about_good.offers.price }} {{ item.fields.currency }}</span>
          </div>
          {% else %}
          <div class="price-box">
            <span class="price">Тільки по передзамовленню</span>
          </div>
          {% endif %}
        </div>
        <button class="buy-button">
          <div class="symbol">
            <span class="material-symbols-outlined cart-icon">shopping_cart</span>
          </div>
          <h1>Купити</h1>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

