.container {
  border: 0px solid darkorange;
  background: #f3f3f3;
  display: grid;
  /* gap: 32px; */
  justify-items: center;
  padding: 8px 0 32px;
}

.container > * {
  max-width: 1280px;
  width: 100%;
}

/* Root Section */
.root {
  border: 0px solid yellow;
  display: flex;
  align-items: center;
}

.root > * {
  padding: 2px 0;
}

.root .symbol {
  padding: 0;
}

.arrow {
  font-size: small;
}

.category-name {
  border: 0px solid violet;
}

/* suka */
.card {
  border: 0px solid red;
}

.category-settings {
  border: 0px solid blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selected-filters {
  border: 0px solid pink;
}

.settings { 
  border: 0px solid dodgerblue;
}

.content {
  border: 0px solid purple;
  display: flex;
}

.group-item {
  padding: 0 8px;
}

  