<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ваще класс</title>
    <link rel="stylesheet" href="{% static 'main/css/shared/style-default.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/shared/style-header.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/shared/style-footer.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/styles/style-cart.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    {% include "included_templates/header.html" %}

    <div class="container">
      <section class="display">
        <div class="items-display">
          <span>Кошик</span>
          <div class="cart-item">
            <img src="../images/large-1.jpg" />
            <div class="item-info">
              <a href="#" class="item-link">Смартфон Samsung Galaxy Fold 5 12/512GB (Icy Blue) (Global)</a>
              <div class="bottom-info">
                <div class="pricing">
                  <div class="price-box">
                    <span class="price">999999 грн</span>
                  </div>
                  <div class="old-price-box">
                    <span class="price">1000000 грн</span>
                  </div>
                </div>
                <div class="amount">
                  <span class="material-symbols-outlined symbol">add</span>
                  <span class="amount-value">0</span>
                  <span class="material-symbols-outlined symbol">remove</span>
                </div>
              </div>
            </div>
            <div class="remove-button">
              <span class="material-symbols-outlined symbol">delete</span>
            </div>
          </div>
        </div>
        <div class="total">
          <span>Сума всіх товарів кошика:</span>
          <span>999 грн</span>
        </div>
        <div class="confirmation">
          <button class="buy">
            <div class="symbol">
              <span class="material-symbols-outlined cart-icon">shopping_cart</span>
            </div>
            <h1>Купити</h1>
          </button>
          <button class="credit-buy">
            <div class="symbol">
              <span class="material-symbols-outlined cart-icon">shopping_cart</span>
            </div>
            <h1>В кредит</h1>
          </button>
        </div>

      </section>
    </div>

    {% include "included_templates/footer.html" %}
    <script src="script.js"></script>
  </body>
</html>
