<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кошик</title>
  <link rel="stylesheet" href="{% static 'main/css/style-shared.css' %}?version={% now 'U' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>

<body>
  <div id="headerContainer">
      {% include "included_templates/header.html" with user=user %}
  </div>

  <section class="hero-section" style="height: 600px;">
    <h1 class="ahuet">кошик ахуеть</h1>
  </section>

  <div id="footerContainer">
      {% include "included_templates/footer.html" %}
  </div>
</body>

</html>