
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товари</title>
    <link rel="stylesheet" href="{% static 'main/css/shared/style-default.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/shared/style-header.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/shared/style-footer.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/shared/style-items.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/styles/style-category.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    {% include "included_templates/header.html" with user=user %}

    <div class="container">
      <section class="top-layout">
        <h1 class="category-name">класс</h1>
      </section>

      <section class="card">
        <div id="itemsContainer">
          {% include "included_templates/items.html" with info=information %}
        </div>
        <div class="pagination">
          {% if information.has_previous %}
          <a href="?page=1&text={{ text }}" class="first symbol">
            <span class="material-symbols-outlined symbol">chevron_left</span>
            <span class="material-symbols-outlined symbol">chevron_left</span>
          </a>
          <a href="?page={{ information.previous_page_number }}&text={{ text }}" class="previous symbol">
            <span class="material-symbols-outlined symbol">chevron_left</span>
          </a>
          {% else %}
          <a href="#" class="first symbol" style="z-index: -1;">
            <span class="material-symbols-outlined symbol">chevron_left</span>
            <span class="material-symbols-outlined symbol">chevron_left</span>
          </a>
          <a href="#" class="previous symbol" style="z-index: -1;">
            <span class="material-symbols-outlined symbol">chevron_left</span>
          </a>
          {% endif %}

          <span class="current">{{ information.number }}/{{ information.paginator.num_pages }}</span>

          {% if information.has_next %}
          <a href="?page={{ information.next_page_number }}&text={{ text }}" class="next symbol">
            <span class="material-symbols-outlined symbol">chevron_right</span>
          </a>
          <a href="?page={{ information.paginator.num_pages }}&text={{ text }}" class="last symbol">
            <span class="material-symbols-outlined symbol">chevron_right</span>
            <span class="material-symbols-outlined symbol">chevron_right</span>
          </a>
          {% else %}
          <a href="#" class="next symbol" style="z-index: -1;">
            <span class="material-symbols-outlined symbol">chevron_right</span>
          </a>
          <a href="#" class="last symbol" style="z-index: -1;">
            <span class="material-symbols-outlined symbol">chevron_right</span>
            <span class="material-symbols-outlined symbol">chevron_right</span>
          </a>
          {% endif %}
        </div>
      </section>
    </div>

    {% include "included_templates/footer.html" %}
    <script src="{% static 'main/js/category.js' %}?version={% now 'U'%}"></script>
  </body>
</html>
