<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Головна</title>
    <link rel="stylesheet" href="{% static 'main/css/shared/style-default.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="{% static 'main/css/shared/style-header.css' %}?version={% now 'U'%}">
    <link rel="stylesheet" href="{% static 'main/css/shared/style-footer.css' %}?version={% now 'U'%}">
    <link rel="stylesheet" href="{% static 'main/css/styles/style-main.css' %}?version={% now 'U'%}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  </head>

  <body>
    {% include "included_templates/header.html" with user=user %}

    <section class="shop-section">
      <div class="shop-images">
        {% for item in info %}
          <div class="shop-link">
            <h3>{{item.fields.category}}</h3>
            <a href="{{item.fields.link_to_category}}"><img src="{{item.fields.image}}" alt="{{item.fields.category}}" /></a>
            <a href="{{item.fields.link_to_category}}">Переглянути</a>
          </div>
        {% endfor %}
      </div>
    </section>
    {% include "included_templates/footer.html" %}
    <script src="{% static 'main/js/search_func.js' %}?version={% now 'U'%}"></script>
    <script src="{% static 'main/js/check_cart.js' %}?version={% now 'U'%}"></script>
  </body>
</html>