.container {
  border: 0px solid darkorange;
  background: #f3f3f3;
  display: grid;
  /* gap: 32px; */
  justify-items: center;
  padding: 8px 0 32px;
}

.container > * {
  max-width: 1280px;
  width: 100%;
}

/* Root Section */
.root {
  border: 0px solid yellow;
  display: flex;
  align-items: center;
}

.root > * {
  padding: 2px 0;
}

.root .symbol {
  padding: 0;
}

.arrow {
  font-size: small;
}

.category-name {
  border: 0px solid violet;
}

/* suka */
.card {
  border: 0px solid red;
}

.category-settings {
  border: 0px solid blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selected-filters {
  border: 0px solid pink;
}

.settings { 
  border: 0px solid dodgerblue;
}

.content {
  border: 0px solid purple;
  display: flex;
}

.group-item {
  padding: 0 8px;
}

.sliding-button {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: black;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
.step-links{
  padding-left: 25%;
}